{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}
    <h1>Nie odnaleziono strony</h1>
    

    <p>
Serwis chwilowo niedostępny.
    </p>
    <p>
        <a class="btn btn-primary" href="{{ path('posts') }}">Powrót na stronę główną</a>

    </p>
{% endblock %}